{% extends "base.html" %}

{% block content %}
  <div id="versions-container">
    {% if platform_version_archs|length > 5 or platform_versions|length <= 1 or archs|length <= 1 %}
    <div id="versions" class="btn-group">
      {% for ver in platform_versions %}
      <a href="/{{ platform }}/{{ ver }}/{{ arch }}/" class="btn{% if ver == platform_version %} btn-primary active{% endif %}{% if platform_versions|length == 1 %} disabled{% endif %}">{{ ver }}</a>
      {% endfor %}
    </div>
    <div id="archs" class="btn-group">
      {% for ar in archs %}
      <a href="/{{ platform }}/{{ platform_version }}/{{ ar }}/" class="btn{% if ar == arch %} btn-primary active{% endif %}{% if archs|length == 1 %} disabled{% endif %}">{{ ar }}</a>
      {% endfor %}
    </div>
    {% else %}
    <div id="version-archs" class="btn-group">
      {% for ver, ar in platform_version_archs %}
      <a href="/{{ platform }}/{{ ver }}/{{ ar }}/" class="btn{% if ver == platform_version and ar == arch %} btn-primary active{% endif %}">{{ ver }} {{ ar }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div id="instructions" class="well well-large">
    {% if raw_platform == 'auto' %}
    Open a root shell on the target system and run the following command to download and install the latest version of the Chef client:
    <pre>curl -L http://www.opscode.com/chef/install.sh | bash</pre>
    {% elif raw_platform == 'windows' %}
    <a class="download btn btn-large btn-primary" href="http://www.opscode.com/chef/install.msi">Download Chef</a>
    Download the installer from the link and run it to install the latest version of the Chef client.
    {% else %}
    <a class="download btn btn-large btn-primary" href="{{ download_url }}">Download Chef {{ chef_version }}</a>
    You can also install manually by downloading the package below after you
    have selected a Chef version. For more information about manual
    installation, please <a href="http://wiki.opscode.com/display/chef/Installation">read the wiki</a>.
    {% endif %}
  </div>
{% endblock %}
