{% extends "bootstrap_base.html" %}

{% block style %}
{{ super() }}
<link href="/static/main.css" rel="stylesheet">
{% endblock %}

{% block body_content %}
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><img class="logo" src="/static/logo.png" />Chef</a>
        <ul class="nav pull-right">
          <li><a href="http://www.opscode.com/hosted-chef/">Sign Up</a></li>
          <li><a href="http://www.opscode.com/support/">Support</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Everything you need to get started with Chef</h1>
    <div id="platforms">
      {% for plat, label in platforms %}
      <a class="platform {{ plat }}{% if raw_platform == plat %} active{% endif %}" href="/{{ plat }}/">
        <div class="logo"></div>
        <div class="name">{{ label }}</div>
      </a>
      {% endfor %}
    </div>

    {% if versions %}
    <div id="versions" class="btn-group">
      {% for ver, ar in versions %}
      <a href="/{{ raw_platform }}/{{ ver }}/{{ ar }}/" class="btn{% if ver == version and ar == arch %} btn-primary active{% endif %}">{{ ver }} {{ ar }}</a>
      {% endfor %}
    </div>
    {% endif %}

    <div id="instructions" class="well well-large">
      {% if raw_platform == 'auto' %}
      Open a root shell on the target system and run the following command to download and install the latest version of the Chef client:
      <pre>curl -L http://www.opscode.com/chef/install.sh | bash</pre>
      {% elif raw_platform == 'windows' %}
      <a class="download btn btn-large btn-primary" href="http://www.opscode.com/chef/install.msi">Download Chef</a>
      Download the installer from the link and run it to install the latest version of the Chef client.
      {% else %}
      <a class="download btn btn-large btn-primary" href="{{ download_url }}">Download Chef {{ chef_version }}</a>
      You can also install manually by downloading the package below after you
      have selected a Chef version. For more information about manual
      installation, please <a href="http://wiki.opscode.com/display/chef/Installation">read the wiki</a>.
      {% endif %}
    </div>
  </div>
{% endblock %}
