{% extends "base.html" %}

{% block content %}
  <div id="versions-container">
    {% if platform_version_archs|length > 5 or platform_versions|length <= 1 or archs|length <= 1 %}
    <div id="versions" class="btn-group">
      {% for ver in platform_versions %}
      <a href="/{% if server %}server/{% endif %}{{ platform }}/{{ ver }}/{{ arch }}/" class="btn{% if ver == platform_version %} btn-primary active{% endif %}{% if platform_versions|length == 1 %} disabled{% endif %}">{{ ver }}</a>
      {% endfor %}
    </div>
    <div id="archs" class="btn-group">
      {% for ar in archs %}
      <a href="/{% if server %}server/{% endif %}{{ platform }}/{{ platform_version }}/{{ ar }}/" class="btn{% if ar == arch %} btn-primary active{% endif %}{% if archs|length == 1 %} disabled{% endif %}">{{ ar }}</a>
      {% endfor %}
    </div>
    {% else %}
    <div id="version-archs" class="btn-group">
      {% for ver, ar in platform_version_archs %}
      <a href="/{% if server %}server/{% endif %}{{ platform }}/{{ ver }}/{{ ar }}/" class="btn{% if ver == platform_version and ar == arch %} btn-primary active{% endif %}">{{ ver }} {{ ar }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div id="instructions" class="well well-large">
    {% block instructions %}
    <a class="download btn btn-large btn-primary" href="{{ current_package.opscode_url }}">Download Chef {{ current_package.chef_version }}</a>
    You can also install manually by downloading the package below after you
    have selected a Chef version. For more information about manual
    installation, please <a href="http://wiki.opscode.com/display/chef/Installation">read the wiki</a>.
    {% endblock %}
  </div>
{% endblock %}
